body {
    background-color: rgb(0, 0, 0);
}
html{
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

.project--container{
    max-width: 100%;
    /* background-color: rgba(0, 0, 0, 0.184);
    backdrop-filter: blur(9px); */
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 19px;
    padding-bottom: 18px;
    position: sticky;
    top: 0;
}
.gobtn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    backdrop-filter: blur(50px);
    background-color: rgba(255, 253, 253, 0.971);
    color: rgb(38, 38, 38);
    border: none;
    border-radius: 30px;
    width: 180px;
    height: 60px;
    z-index: 2;
    transition: .3s;
    outline: 3px solid rgba(255, 255, 255, 0.351);
    margin: 9px;
    border: 1px solid rgb(255, 255, 255);
    animation: pulse 2s cubic-bezier(0, 0, 0, .4) infinite;
    
}
@keyframes pulse{
    50%{
        transform: scale(1.2);
        outline: 18px solid rgba(255, 255, 255, 0.182);

    }
}
.goback{
    font-size: 18px;
    font-weight: bold;
}
.back{
    margin-left: 9px;
    height: 36px;
}
.item--container{
    max-width: 100%;
    max-height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 18px;
    padding-left: 9px;
    padding-right: 9px;
    overflow-y: hidden;
}
.items{
    width: 300px;
    height: 300px;
    margin: 9px;
    outline: 1px solid rgb(255, 255, 255);
    
}
.upcon{
    height: 77%;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;

}
.downcon{
    background-color: rgb(255, 255, 255);
    height: 23%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnlink{
    width: 129px;
    height: 45px;
    margin: 0px 12px;
    font-size: 13px;
    background-color: rgb(255, 255, 255);
    border: none;
    outline: 2px solid rgb(0, 0, 0);
    transition: .3s;
    font-weight: bold;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}
.git--link{
    background-color: black;
    color: white;
}
.btnlink:hover{
    background-color: black;
    color: white;
}
.btnlink:active{
    background-color: gray;
}
.gitlink {
    z-index: 1;
    height: 24px;
    margin-right: 9px;
    animation: gitlgo .6s cubic-bezier(0,0,0, 1) infinite;
}
@keyframes gitlgo{
    50%{
        filter: invert(1);
    }
}

.loadimg{
    height: 120px;
}
#loadImg{
    position:absolute;
    z-index: 999;
}
#loadImg2{
    position:absolute;
    z-index: 999;
}
#loadImg3{
    position:absolute;
    z-index: 999;
}
#loadImg4{
    position:absolute;
    z-index: 999;
}
#loadImg5{
    position:absolute;
    z-index: 999;
}
#loadImg6{
    position:absolute;
    z-index: 999;
}