*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(0, 0, 0);
}
::-webkit-scrollbar{
    display: none;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: rgba(0, 0, 0, 0.538); */
    /* background-image: linear-gradient(to bottom right, rgba(99, 176, 207, 0.427) 5%, black, black ); */
    background-color: rgba(51, 50, 50, 0.292);
    padding: 7px;
    padding-left: 9px;
    padding-right: 9px;
    backdrop-filter: blur(10px);
    /* max-width: 100%; */
    border-radius: 9px;
    
}
.header--container{
    position: sticky;
    top: 12px;
    z-index: 1;
    /* border-bottom: 1.3px solid rgba(18, 42, 56, 0.729); */
    /* border: 2px solid rgba(255, 255, 255, 0.496); */
    border: 1px solid rgba(207, 207, 207, 0.53);

    margin: 10px auto;
    border-radius: 5px;
    max-width: 20%;


}
.menuIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    
}
.menuIcon > p{
    color: white;
    font-size: 14px;
}


.menuIcon > img{
    height: 27px;
    filter: invert(1);
    opacity: .8;
    margin-top: 2px;
    margin-right: 20px;
}
.menuIcon:hover{
    opacity: .6;
}
.project{
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    
}
.rightbar{
    animation: pulsediv 1.8s cubic-bezier(0, 0, 0, .5) infinite;
    padding: 9px;
    background-color: white;
    /* border: 1.6px solid skyblue; */
    /* border: 1.6px solid rgba(207, 207, 207, 0.767); */
    border-radius: 3px;
    margin-right: 6px;


}
.rightbar > a {
    color: rgba(0, 0, 0, 0.868);
    user-select: none;
}
@keyframes pulsediv{
    50%{
        transform: scale(1.06);
        /* outline: 9px solid rgba(141, 141, 141, 0.232); */
        box-shadow: 0px 0px 20px 3px rgba(255, 255, 255, 0.334);

    }
}

/* navbar  */

.navbar--container{
    height: 100%;
    width: 0%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.752);
    backdrop-filter: blur(10px);
    overflow-x: hidden;
    transition: 0.3s;
    text-align: center;
    padding-top: 210px;
    /* border-left: 1px solid rgba(255, 255, 255, 0.237); */
}
.navItem{
    font-size: 19px;
    margin-top: 9px;
    margin-bottom: 9px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    user-select: none;

}
.navItem:hover{
    color: gray;
}
.cross{
    position: absolute;
    top: 80px;
    right: 30px;
    font-size: 40px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    user-select: none;
    
}
.skl{
    margin-bottom: 60px;
}
.contact{
    font-size: 14px;
    color: rgba(117, 193, 255, 0.792);
    margin-top: 9px;
    margin-bottom: 0px;
}
/* skills  */
.skillItem{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 12px;
}
.skItem{
    color: rgba(255, 255, 255, 0.808);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.skItem >img{
    height: 40px;
    margin: 20px;
    margin-bottom: 9px;
}
.express > img{
    margin-bottom: 24px;
    height: 23px;
}

