#sumanpaik{
    background-color: black;
    color: white;
    padding-top: 30px;
}
.suman--container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.prpic{
    height: 80px;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.77);
    /* animation: sumanlgo 3s cubic-bezier(0,0,0, 1) infinite;
    transition: .3s; */
}
/* @keyframes sumanlgo{
    50%{
        transform: scale(1.1);
        outline: 9px solid rgba(135, 207, 235, 0.118);

    }
} */
.heading{
    display: flex;
    align-items: center;
    margin: 20px;
    font-size: 16px;
}
.heading > img{
    height: 20px;
    margin-left: 9px;
}
.dev--cat{
    color: rgb(198, 239, 255);
    font-size: 24px;
    text-align: center;
    margin: 0px 9px;
}

.socialitems{
    background-color: transparent;
    backdrop-filter: blur(17px);
    width: 245px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 27px;
    margin-top: 20px;
    border: 2px solid rgba(187, 227, 255, 0.889);
    background-image: linear-gradient(to bottom right,rgba(0, 183, 255, 0.26) 5%,  black, black);
    text-decoration: none;
    transition: .3s;
    cursor: pointer;
}
.socialitems:hover{
    transform: scale(1.1);
    background-color: rgba(81, 81, 81, 0.425);
}
.scimage{
    height: 30px;
    margin-left: 10px;
}
.scname{
    color: rgb(255, 255, 255);
    margin-right: 80px;

}
.hireme{
    /* background-color: rgb(236, 250, 255); */
    background-color: rgba(54, 54, 54, 0.468);
    backdrop-filter: blur(17px);
    width: 130px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    margin-top: 20px;
    border: none;
    transition: .3s;
    cursor: pointer;
}
.hireme:hover{
    transform: scale(1.1);
    background-color: rgba(10, 10, 10, 0);
    border: 2px solid rgba(187, 227, 255, 0.889);
}
.scnamehire{
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.897);
}
.skill--container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
}
#skills{
    padding: 10px;
    margin-top: 27px;
    height: auto;
}
.second{
    background-image: linear-gradient(to bottom right,rgba(0, 183, 255, 0.104) 5%,  black, black);
    width: 300px;
    height: auto;
    border: 1.3px solid rgba(165, 216, 255, 0.559);
    margin: 6px;
    border-radius: 9px;
    transition: .3s;
}
.second:hover{
    transform: scale(1.02);
}